* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

body {
    background-image: url(./img/wallpaper.jpeg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    background-color: #1E1F2A;
    position: fixed;
    display: flex;
    height: 39px;
    width: 100%;
    bottom: 0;
}

.gen {
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.1s;
}

.gen2 {
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    bottom: 0;
    right: 0;
}

.windows {
    background-image: url(./img/start\ menu.png);
    background-size: 17px;
    height: 39px;
    width: 48px;
}

.searchbar {
    background-image: url(./img/magnifier.png);
    background-repeat: no-repeat;
    background-color: #333333;
    border: 1px solid #5c5c5c;
    background-size: 30px;
    background-position: 5px;
    height: 35px;
    width: 244px;
    font-size: 15px;
    padding-left: 40px;
    outline: none;
}

::placeholder {
    color: #dadada;
}

:focus::placeholder {
    color: black;
}

.vs {
    background-image: url(./img/vscode.png);
    background-size: 25px;
    height: 39px;
    width: 49px;
    margin-left: 3px;
}

.github {
    background-image: url(./img/github.png);
    background-size: 31px;
    height: 39px;
    width: 48px;
}

.explorer {
    background-image: url(./img/explorer.png);
    background-size: 23px;
    height: 39px;
    width: 49px;
}

.line {
    background-image: url(./img/line.png);
    background-position: left;
    background-size: 40px;
    height: 39px;
    width: 5px;
}

.notification {
    background-image: url(./img/notification.svg);
    background-size: 18px;
    right: 13px;
    height: 39px;
    width: 40px
}

.tnd {
    font-weight: 325;
    text-align: center;
    color: white;
    font-size: 12px;
    right: 53px;
    height: 37px;
    width: 70px;
    padding-top: 2px;
}

.lang {
    text-align: center;
    color: white;
    padding-top: 12px;
    font-size: 12.5px;
    right: 123px;
    height: 27px;
    width: 36px;
}

.ethernet {
    background-image: url(./img/ethernet.svg);
    background-size: 17px;
    right: 160px;
    height: 39px;
    width: 22px
}

.vol {
    background-image: url(./img/sound.svg);
    background-size: 17px;
    right: 185px;
    height: 40px;
    width: 21px
}

.up {
    background-image: url(./img/uparrow.svg);
    background-size: 13px;
    right: 208px;
    height: 40px;
    width: 23px
}